<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/estilo.css"/>
    <title>CADASTRAR</title>
</head>
<body>

   <div class="container">
        <div class="titulo">Cadastre-se:</div>

        <div class="formulario">
          <form action="/pessoas/criar">
            <label for="nome">Nome:</label>
            <input type="text" placeholder="Seu primeiro nome">
    
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" placeholder="Seu último sobrenome">

            <label for="idade">Idade:</label>
            <input type="text" placeholder="Sua idade">

            <label for="altura">Altura:</label>
            <input type="text" placeholder="Sua altura">

            <input class="botao" type="submit" value="Cadastrar"/>
          </form>
        </div>
    </div>

</body>
</html>
