@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

body{
  width: 100vw;
  height: 100vh;
  background: rgb(149,149,149);
  background: linear-gradient(32deg, rgba(149,149,149,1) 13%, rgba(84,84,84,1) 50%, rgba(42,42,42,1) 87%);
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: Raleway;
}

.container{
  position: relative;
  width: 500px;
  height: 265px;
  border-radius: 60px;
  padding: 40px;
  box-sizing: border-box;
  background: #9c9c9cb1;
  -webkit-box-shadow: -12px 10px 56px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 10px 56px -15px rgba(0,0,0,0.75);
  box-shadow: -12px 10px 56px -15px rgba(0,0,0,0.75);
}

.ident{
  margin-top: -40px;
  font-weight: 900;
  font-size: 25px;
  color: #282828fd;
  letter-spacing: 1px;
}

.dados{
  text-align: left;
  margin-top: 30px;
}

button{
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.607);
  margin-top: 20px;
  background: #282828fd;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
}

p{
  margin-bottom: 4px;
  margin-top: 10px;
}